<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title>WebSocket (0)</title>
<link rel="stylesheet" href="/css/main.css" />
</head>

<body>
<h1>WebSocket</h1>

<form onsubmit="send(evt)">
<input name="message" id="message" type="text" />
<input type="submit" />
</form>

<div id="content"></div>

<hr>

<div id="drag"><a href="http://www.youtube.com/watch?v=Wm0tjknqKK8">Oasis - Rock 'N' Roll Star</a></div>
<div id="drop"></div>
<input type="hidden" id="stack" />
<input type="hidden" id="rack.session" value="<%= session[:session_id] %>" />

<script src="/js/websocket.js"></script>
<script src="/js/drop.js"></script>
</body> </html>

